$site-width: 1124px;    // ширина сайта
$gutter: 15px;

$color-primary: #1875f0;
$color-primary-h: #1569d6;
$color-info: #115492;
$color-secondary: #ffffff;
$color-warning: #f5a623;
$color-warning-h: #d6911e;
$color-danger: #ff272b;
$color-success: #50d166;


$gray--lightest: #fafafa;
$gray--lighten: #f5f5f5;
$gray--light: #cccccc;
$gray: #b3b3b3;
$gray--dark: #808080;
$gray--darken: #666666;

$sm: 544px;     // Small screen / phone
$md: 768px;     // Medium screen / tablet
$lg: 992px;     // Large screen / desktop
$xl: 1200px;    // Extra large screen desktop
$xxl: 1440px;   // Wide desktop


$font-family: 'RobotoSlab', 'Tahoma', sans-serif;
$font: 'RobotoSlab', 'Tahoma', serif;

$font-size: 22rem;

