// order of elements
//a:link { ... }
//a:visited { ... }
//a:hover { ... }
//a:active { ... }

.button:hover, .button:active {
  cursor: pointer;
    outline: none;
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  background: linear-gradient(#cccccc, #fefefe);
  color: #aaaaaa;
}

.btn {
  @include font(14px);

  text-transform: uppercase;
  padding: 13px 20px;
  min-height: 40px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
  transition: background-color .2s ease-in;

  &_blue {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: $color-primary-h;
      border-color: $color-primary-h;
    }
  }

  &_white {
    color: $gray--light;
    background-color: transparent;
    border-color: $gray--light;

    &:hover {
      background-color: $gray--lighten;
    }
  }

  &_center {
    margin: 0 auto;
  }

  &_cnt {
    justify-content: center;
  }

  &_right {
    align-self: flex-end;
    margin-left: auto;
  }

  &_left {
    align-self: flex-start;
    margin-right: auto;
  }

  &_sm {
    height: 4rem;
    padding: 0 20px;
  }

  &_md {
    padding: 13px 45px;
  }

  &_bg {
    //letter-spacing: 0;
    //word-spacing: 0;
    padding: 13px 60px;
  }

  &_lg {
    width: 240px;
  }

  &_block {
    width: 100%;
  }
}



.btn-group {
  display: flex;
}

.btn-upload {
  background-color: $gray--light;
  border-color: $gray--light;
  width: 240px;
}

.btn-upload_active {
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn_orange {
  background-color: $color-warning;
}

.btn_orange:hover, .button_orange:active {
  background-color: $color-warning-h;
}

.btn-cancel {
  width: 3rem;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-align: center;
  color: $gray;
  border: none;
  background: transparent;
  transition: all .2s ease-in;
}

.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-cancel:hover {
  cursor: pointer;
  color: #999999;
}

.btn-cancel:active {
  color: #808080;
}
