header.header
  .box.box_header
    .container
      .header__navigation-block
        .header__logo
          img(src='img/logo.svg')
        nav.header__nav
          a.header__nav-item.header__nav-item_active(href='#')
            | Accommodations

