header.header
  .box.box_header
    .container
      .header__navigation-block
        .header__logo
          img(src='img/logo.svg')
        nav.header__nav
          a.header__nav-item.header__nav-item_active(href='#')
            | Scoring Detail
            span.header__nav-item-icon
              +icon('credit-card','gray_mod')
          a.header__nav-item(href='#')
            | Optimize your score
            span.header__nav-item-icon
              +icon('presentation','gray_mod')
          a.header__nav-item(href='#')
            | Product
            span.header__nav-item-icon
              +icon('briefcase','gray_mod')









