.filter__item {
  transition: all .2s ease-in;
  font: 400 1.2rem/1.875 Roboto;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #9b9b9b;
  border-radius: 4px;
  background-color: #e0e0e0;

  &:hover {
    color: #fff;
    background-color: #1569d6;
    cursor: pointer;
  }

  &_selected {
    color: #fff;
    background-color: #1875f0;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.hotels-list {
  padding-top: 70px;

  &__wrap {
    padding-top: 70px;
  }
}

.hotel {
  position: relative;
  width: calc(33.33% - 30px);
  margin-right: $gutter;
  margin-left: $gutter;
  background-position: 50% 50%;
  min-height: 250px;
  margin-bottom: 30px;
  padding: 5px;
}

.hotel-list {
  padding-top: 70px;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.hotel-nophoto {
  &::before {
    content: 'no photo yet';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}