//.container
//    .button-group.button-group_top.button_left
//        button.button.button_blue.js-clickable
//            | Click me
.container
    .first-level
        .second-level
            .third-level
                | Click me please
//.container
//    .radio-group
//        .radio-button#radio1
//            label(for='radio1') Water
//        .radio-button#radio2
//            label(for='radio2') Coffe
//        .radio-button#radio3
//            label(for='radio3') Tea
//        .radio-button#radio4
//            label(for='radio4') Cola
//        .radio-button#radio5
//            label(for='radio5') Ginger Ale
//    div
//        button hello
//    .button-group.button-group_top.button_left
//        .button.button.button_fancy.button_fancy.js-clickable(role='button', tabindex='0', disabled)
//            | Click me
//        button.button.button_fancy.button_fancy.js-clickable(disabled)
//            | Click me real
//
//section#alert(role='alert')
//    .container
//.container
//    .button-group.button-group_top.button_left
//        button.button.button_fancy.button_fancy#btn
//            | Show alert
//template#notification-tmpl
//    .notification
//        | Your account is active!

