if scaleBlock == 'Scoring'
  .scale-block__content
    .scale-block__personal
      .scale-block__personal-info Karl Schmidt Betriebs GmbH, Hamburg
      .scale-block__personal-credit-score Credit Score: 677 / 1000
    .scale-block__scale
      span.scale-block__scale-pin
    .scale-block__description
      .scale-block__description-bank
        .scale-block__description-caption Daten abgerufen von
        img.scale-block__description-logo(src='img/crif-burgel.png')
      .scale-block__description-credit Maximum credit: 1200 €
else
  .scale-block__content
    .scale-block__personal
      .scale-block__personal-info Karl Schmidt Betriebs GmbH, Hamburg
      .scale-block__personal-credit-score Credit Score: 677 / 1000
    .scale-block__scale
      span.scale-block__scale-pin
    .scale-block__description
      .scale-block__description-bank
        .scale-block__description-caption Daten abgerufen von
        img.scale-block__description-logo(src='img/crif-burgel.png')
      //.scale-block__description-credit Maximum credit: 1200 €