.table__row-bordered
  div.table__col-bordered.table__col-bordered_md.table__col-bordered_dark-text Demobank.pdf
  div.table__col-bordered.table__col-bordered_bg.table__col-bordered_dark-text 03:00 16.10.2017
  div.table__col-bordered.table__col-bordered_lg.table__col-bordered_dark-text SuSa
  div.table__col-bordered.table__col-bordered_sm
    span.table__col-bordered-icon
      +icon('trash','gray_mod')


