.icon {
  display: inline-block;
  width: 1px;
  height: 1px;
  fill: currentColor;
}

.icon-bank-account {
  font-size:(19/10)*1px;
  width:(20/19)*1px;
}
.icon-briefcase {
  font-size:(20/10)*1px;
  width:(20/20)*1px;
}
.icon-credit-card {
  font-size:(15/10)*1px;
  width:(20/15)*1px;
}
.icon-dieses-document-ist {
  font-size:(11/10)*1px;
  width:(119/11)*1px;
}
.icon-doc-copy {
  font-size:(58/10)*1px;
  width:(48/58)*1px;
}
.icon-done {
  font-size:(8/10)*1px;
  width:(10/8)*1px;
}
.icon-email {
  font-size:(16/10)*1px;
  width:(20/16)*1px;
}
.icon-error {
  font-size:(9/10)*1px;
  width:(9/9)*1px;
}
.icon-exit {
  font-size:(21/10)*1px;
  width:(20/21)*1px;
}
.icon-financial-indicator {
  font-size:(20/10)*1px;
  width:(20/20)*1px;
}
.icon-invalid {
  font-size:(512/10)*1px;
  width:(512/512)*1px;
}
.icon-invalid-name {
  font-size:(16/10)*1px;
  width:(16/16)*1px;
}
.icon-lock {
  font-size:(17/10)*1px;
  width:(13/17)*1px;
}
.icon-page {
  font-size:(16/10)*1px;
  width:(13/16)*1px;
}
.icon-presentation {
  font-size:(20/10)*1px;
  width:(20/20)*1px;
}
.icon-trash {
  font-size:(22/10)*1px;
  width:(20/22)*1px;
}
