.calculator
  .calculator__display 0
  .calculator__keys.keys
    button.keys__operator(data-action="add") +
    button.keys__operator(data-action="substract") -
    button.keys__operator(data-action="multiply") &times;
    button.keys__operator(data-action="divide") รท
    button.keys__btn 7
    button.keys__btn 8
    button.keys__btn 9
    button.keys__btn 4
    button.keys__btn 5
    button.keys__btn 6
    button.keys__btn 1
    button.keys__btn 2
    button.keys__btn 3
    button.keys__btn 0
    button.keys__btn(data-action="decimal") .
    button.keys__btn(data-action="clear") AC
    button.keys__equal(data-action="calculate") =





