doctype html
| html(lang='en')
|   head
|     // Required meta tags
|     meta(charset='utf-8')
|     meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
|     // Bootstrap CSS
|     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
|     link(rel='stylesheet', href='main.css')
|   body
|     .container
|       form#auth
|         label Text
|         // <textarea rows="8" class="form-control" name="comment_2" placeholder="text"></textarea>
|         p
|           textarea#text.form-control(rows='10', name='comment', placeholder='text', form='auth')
|         p
|           input.btn.btn-default(type='submit', name='submit_text', value='Submit text', form='auth')
|       p
|         button.btn(name='messages')
|           | Messages
|           span.badge.badge-secondary 4
|       .messages-list
|     #map
|     script.
|       function initMap() {
|       var uluru = {lat: -25.363, lng: 131.044};
|       var map = new google.maps.Map(document.getElementById('map'), {
|       zoom: 6,
|       center: uluru,
|       styles: [
|       {
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#f5f5f5"
|       }
|       ]
|       },
|       {
|       "elementType": "labels",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "elementType": "labels.icon",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#616161"
|       }
|       ]
|       },
|       {
|       "elementType": "labels.text.stroke",
|       "stylers": [
|       {
|       "color": "#f5f5f5"
|       }
|       ]
|       },
|       {
|       "featureType": "administrative",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "featureType": "administrative.land_parcel",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "featureType": "administrative.land_parcel",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#bdbdbd"
|       }
|       ]
|       },
|       {
|       "featureType": "administrative.neighborhood",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "featureType": "poi",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "featureType": "poi",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#eeeeee"
|       }
|       ]
|       },
|       {
|       "featureType": "poi",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#757575"
|       }
|       ]
|       },
|       {
|       "featureType": "poi.park",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#e5e5e5"
|       }
|       ]
|       },
|       {
|       "featureType": "poi.park",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#9e9e9e"
|       }
|       ]
|       },
|       {
|       "featureType": "road",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#5b84c3"
|       }
|       ]
|       },
|       {
|       "featureType": "road",
|       "elementType": "labels.icon",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "featureType": "road.arterial",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#5b84c3"
|       }
|       ]
|       },
|       {
|       "featureType": "road.highway",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#48689a"
|       }
|       ]
|       },
|       {
|       "featureType": "road.highway",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#48689a"
|       }
|       ]
|       },
|       {
|       "featureType": "road.local",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#9e9e9e"
|       }
|       ]
|       },
|       {
|       "featureType": "transit",
|       "stylers": [
|       {
|       "visibility": "off"
|       }
|       ]
|       },
|       {
|       "featureType": "transit.line",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#e5e5e5"
|       }
|       ]
|       },
|       {
|       "featureType": "transit.station",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#eeeeee"
|       }
|       ]
|       },
|       {
|       "featureType": "water",
|       "elementType": "geometry",
|       "stylers": [
|       {
|       "color": "#c9c9c9"
|       }
|       ]
|       },
|       {
|       "featureType": "water",
|       "elementType": "labels.text.fill",
|       "stylers": [
|       {
|       "color": "#9e9e9e"
|       }
|       ]
|       }
|       ]
|       });
|       var image = 'img/house.png';
|       var marker = new google.maps.Marker({
|       position: uluru,
|       map: map,
|       icon: image
|       });
|       }
|     script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBNnP0SCqVzJjsncNOvlrfIoGSuGlZ3FB8&callback=initMap', async='', defer='')
|     // Optional JavaScript
|     // jQuery first, then Popper.js, then Bootstrap JS
|     // <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
|     script(src='dist/jq/jquery.min.js')
|     script(src='dist/js/register.js', type='text/javascript')
|     // <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
|     //
|       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
|       </body>
