.container
  .list-wrap
    #listWrap.list-header
      input#listInput.list-header__input(type='text', placeholder='Add your text...')
      button.btn.btn_blue.btn_sm(onclick='newElement()') Add
    ul#list

