include pug/helpers/_mixins

+base-page
  include pug/_index.pug
  //script(type="text/javascript" src="js/basics.js")
  //script(type="text/javascript" src="js/structure.js")
  //script(type="text/javascript" src="js/list.js")
  //script(type="text/javascript" src="js/objects.js")
  script(type="text/javascript" src="js/classes.js")

