-
  var registerRow = [
                        {name: 'First number ID', text: 'T220001293'},
                        {name: 'Second number ID', text: '6408125'},
                        {name: 'Third number ID', text: '2010315D'},
                        {name: 'Fourth number ID', text: '4'}
                    ]
-
  var registerSecondRow = [
                            {name: 'Legal form', text: 'e.K.'},
                            {name: 'Vorname', text: 'Egon'},
                            {name: 'Nachname', text: 'Einzel'},
                            {name: 'City', text: 'Hamburg'},
                            {name: 'Street+number', text: 'Gasstr.18'}
                          ]